.author_posts-container,
.category_posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 5rem 1rem 5rem 1rem;
}
.navbar {
  width: 100%;
  background-color: #fff;
}
.authorPost-bg {
  background-image: url("../images/bg-6.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}
.Category-bg {
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}
.center {
  color: white;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
