.navbar {
  width: 100%;
  background-color: #fff;
}
.createPost-bg {
  background-image: url("../images/Khazaksthan.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
}
.create-post {
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.error-message {
  background-color: rgb(252, 84, 84);
  margin: 0.7em 0;
  padding: 0.2em;
  color: #fff;
  border-radius: 2px;
  text-align: left;
}

.create-post-container {
  background-color: #fff;
  padding: 3rem;
  border-radius: 20px;
  width: 60%;
}
.create-post-container h2 {
  color: #080062;
}
.form-create-post input {
  color: #080062;
}
.form-create-post input::placeholder {
  color: #908cbc;
}
.form-create-post select {
  margin: 1em 0;
  color: #908cbc;
}
.submit {
  background-color: #1874ff;
  padding: 9px;
  border-radius: 8px;
  width: 20%;
  border: none;
  color: white;
  cursor: pointer;
}
.ql-container {
  background-color: #ced4da;
  min-height: 100px;
}

.ql-toolbar {
  background-color: #ced4da;
}

.ql-picker,
.ql-picker-item,
.ql-picker-label,
.ql-picker-label::before,
.ql-picker-item::before,
.ql-picker-item::after,
.ql-picker-item.ql-selected,
.ql-picker-item.ql-selected::before,
.ql-picker-item.ql-selected::after,
.ql-editor {
  color: #908cbc;
}

.ql-editor a {
  color: #908cbc;
}
input[type="file"] {
  background-color: #fff;
  padding: 0;
  color: #908cbc;
  cursor: pointer;
  margin: 1rem 0;
}
